.subscribe-button {
    background-color: rgb(199, 0, 0);
    color: white;
    border: none;
    height: 37px;
    width: 106px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}
/* below one is used to  make  the color lighter when we hover over it */
.subscribe-button:hover{ 
    opacity: 0.7;
}
/* below one is when we click on the button the button becomes lighter in color */
.subscribe-button:active{
    opacity: 0.4;
}
.join-button{
    background-color: white;
    color: rgb(45, 161, 238);
    border-color: rgb(45, 161, 238);
    border-style: solid;
    height: 37px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.join-button:hover{
    background-color: rgb(45, 161, 238);
    color: white;

}
.join-button:active{
    opacity: 0.5;
}
.tweet-button{
    background-color: rgb(45, 161, 238);
    color: white;
    border: none;
    height: 37px;
    width: 80px;
    border-radius: 18px;
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: box-shadow 0.15s;
}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}